/* @package jombazar 

Skin
-------------------------------------------------------------- */

$bgcolor: #f9f9f9;
$letterpresscolor: rgba(254, 103, 2, .9);
$carouselbgcolor: rgba(255,255,255,.4);
$paralaxTextbgcolor: rgba(255,255,255,.5);
$dishesTextbgcolor: rgba(255,255,255,.6);
$dishesTextcolor: rgba(254, 103, 2, .9);
$letterpressfrontcolor: rgba(220, 3, 0, .9);
$imageListbordercolor: #f6bcbc;
$linkTitlebordercolor: rgba(246,188,188,0.6);
$link-iconbgcolor: rgba(246,188,188,0.6);

$primarycol: #500000;
$secondarycol: #dc0300;
$thirdcol: #8f0000;
$fourthcol: #9c0000;
$fithcol: #760000;

$head-ico: 48px;
$foot-ico: 36px;
